<!-- 

    File name: bottom_nav.ejs
    Created By: Rahul Kumar
    Student ID: 301174739
    Created on: 13 Feburary, 2021

-->

<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <p class="display-6 navbar-text">&copy;Copyright 2020 Rahul Kumar </p>
    </nav>
</footer>